
jupyter
pandas
numpy
matplotlib
seaborn

pandas==2.1.1
numpy==1.26.0
matplotlib==3.8.0
jupyter==1.0.0
seaborn==2.0.0


bash
python -m venv venv
source venv/bin/activate  # Linux/macOS
venv\Scripts\activate     # Windows
Instale as dependências:

bash
# pip install -r requirements.txt
Execute o notebook:

bash
jupyter notebook 











